@page "/plezalec/{id}"
@inherits PlezalecDetailsBase

@if (Plezalec == null)
{
    <img class="nalagam" src="images/Nalagam.gif" border="0" alt="animated-climbing-image-0012" />
}
else
{
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="@Plezalec.SlikaPlezalca" class="mx-auto img-fluid img-circle d-block" style="width:300px; border:dotted; border-color:darkgray;" alt="avatar">
            </div>
            <div class="col-lg-8 order-lg-2">
                <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                        <h5 class="mb-3 font-weight-bold">@($"{Plezalec.Ime} {Plezalec.Priimek}")</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">O meni</h6>

                                @if (Plezalec.PlezalecInfo == null)
                                {
                                    <p>
                                        @Plezalec.Ime ni ničesar napisal o sebi.
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        @Plezalec.PlezalecInfo
                                    </p>
                                }
                            </div>
                            <div class="col-md-6">
                                <h6 class="font-weight-bold">Dosežki</h6>
                                <span class="badge badge-primary">Na pogled: @GetOcena(NaPogled)</span>
                                <br />
                                <span class="badge badge-info">Flash: @GetOcena(Flash)</span>
                                <br />
                                <span class="badge badge-danger">Rdeča pika: @GetOcena(RdecaPika)</span>
                                <hr>
                                <h6 class="font-weight-bold">@($"Preplezana dolžina: {DolzinaVsehSmeri} m")</h6>
                                <hr>
                                <h6 class="font-weight-bold">Število preplezanih smeri: @StSmeri</h6>
                            </div>
                            <div class="col-md-12">
                                <h6 class="mt-2 font-weight-bold">Zadnjih 5 preplezanih smeri</h6>
                                @if (OceneSmeri.Any())
                                {
                                    <table class="table table-sm table-hover table-striped text-center">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Plezalisce</th>
                                                <th scope="col">Smer</th>
                                                <th scope="col">Ocena</th>
                                                <th scope="col">Nacin</th>
                                                <th scope="col">Dolžina</th>
                                                <th scope="col">Datum</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int i = 1;}
                                            @foreach (var ocenaSmeri in OceneSmeri)
                                            {
                                                if (i > 5)
                                                {
                                                    break;
                                                }
                                                <tr>
                                                    <td>
                                                        <a href=@($"/plezalisce/{ocenaSmeri.Smer.Sektor.PlezalisceId}")>@ocenaSmeri.Smer.Sektor.Plezalisce.ImePlezalisca</a>
                                                    </td>
                                                    <td>
                                                        <a href=@($"/smer/{@ocenaSmeri.SmerId}")>@ocenaSmeri.Smer.ImeSmeri</a>
                                                    </td>

                                                    <td>
                                                        @ocenaSmeri.Ocena.OcenaSmeri
                                                    </td>
                                                    <td>
                                                        @ocenaSmeri.NacinPreplezanjaSmeri.Nacin
                                                    </td>
                                                    <td>
                                                        @ocenaSmeri.Smer.Dolzina m
                                                    </td>
                                                    <td>
                                                        @ocenaSmeri.OcenaSmeriDatum.ToShortDateString()
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>Uporabnik še ni ocenil nobene smeri!</p>
                                }
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                </div>
            </div>

        </div>
    </div>
}

