@inherits DodajNovoSmerBase

    <ModalComponent ModalSize="modal-lg" ButtonStyle="btn-outline-info" ButtonText="Dodaj Novo Smer" ModalHeader="Vnesite podatke o novi smeri: " OnPotrdi="Add" OnOdpriObrazec="PridobiVse" @ref="ModalComponentChange">
        <ModalBody>
            <EditForm Model="NovaSmer" OnValidSubmit="() => ConfirmationChange(true)">
                <DataAnnotationsValidator />
                <div class="form-group row">
                    <label for="imeSmeri" class="col-sm-4 col-form-label">
                        Ime nove smeri:
                    </label>
                    <div class="col-sm-8">
                        <InputText id="imeSmeri" class="form-control" placeholder="Ime smeri" @bind-Value="@NovaSmer.ImeSmeri" />
                        <ValidationMessage For="@(()=>NovaSmer.ImeSmeri)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ocenaSmeri" class="col-sm-4 col-form-label">
                        Ocena smeri:
                    </label>
                    <div class="col-sm-8">
                        <InputSelect id="ocenaSmeri" class="form-control" @bind-Value="@OcenaNoveSmeri">
                            @foreach (var ocena in VseOceneSmeri)
                            {
                                <option value="@ocena.OcenaSmeri">@ocena.OcenaSmeri</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nacinPreplezanja" class="col-sm-4 col-form-label">
                        Ocena smeri:
                    </label>
                    <div class="col-sm-8">
                        <InputSelect id="nacinPreplezanja" class="form-control" @bind-Value="@NacinPreplezanja">
                            @foreach (var nacin in VsiNacini)
                            {
                                <option value="@nacin.Nacin">@nacin.Nacin</option>
                            }
                        </InputSelect>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dolzinaSmeri" class="col-sm-4 col-form-label">
                        Dolžina smeri:
                    </label>
                    <div class="col-sm-8">
                        <InputNumber id="dolzinaSmeri" class="form-control" placeholder="Vnesi dolžino smeri v metrih" @bind-Value="@NovaSmer.Dolzina" />
                        <ValidationMessage For="@(()=>NovaSmer.Dolzina)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="opremljevalec" class="col-sm-4 col-form-label">
                        Opremljevalec:
                    </label>
                    <div class="col-sm-8">
                        <InputText id="opremljevalec" class="form-control" placeholder="Opremljevalec" @bind-Value="@NovaSmer.Opremjevalec" />
                        <ValidationMessage For="@(()=>NovaSmer.Opremjevalec)" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="datumPrvegaVzpona" class="col-sm-4 col-form-label">
                        Datum Prvega Vzpona:
                    </label>
                    <div class="col-sm-8">
                        <InputDate class="form-control" @bind-Value="@NovaSmer.PrviVzpon" />
                        <ValidationMessage For="@(()=>NovaSmer.PrviVzpon)" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="komentarSmeri" class="col-sm-4 col-form-label">
                        Komentar:
                    </label>
                    <div class="col-sm-8">
                        <InputTextArea id="komentarSmeri" class="form-control" placeholder="Tukaj vpišite vaš komentar smeri" @bind-Value="@KomentarText" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="() => ConfirmationChange(false)">
                        Prekliči
                    </button>

                    <button class="btn btn-primary" type="submit">
                        Shrani
                    </button>
                </div>
            </EditForm>
        </ModalBody>        
    </ModalComponent>
