@page "/addplezalisce"
@inherits PlezalisceAddBase
@attribute [Authorize(Roles = "admin")]

<div class="container">
    <EditForm Model="@Plezalisce" OnValidSubmit="AddPlezalisce">
        <DataAnnotationsValidator />
        <h2 class="font-weight-bold">Dodaj novo plezališče:</h2>
        <hr />
        <div class="form-group row">
            <label for="imePlezalisca" class="col-sm-2 col-form-label">
                Ime plezališča:
            </label>
            <div class="col-sm-6">
                <InputText id="imePlezalisca" class="form-control" placeholder="Ime plezališča"
                           @bind-Value="@Plezalisce.ImePlezalisca"></InputText>
                <ValidationMessage For="@(()=>Plezalisce.ImePlezalisca)" />
            </div>
        </div>
        <div class="form-group row">
            <label for="casDostopa" class="col-sm-2 col-form-label">
                Čas Dostopa:
            </label>
            <div class="col-sm-6">
                <InputNumber id="casDostopa" class="form-control" placeholder="Čas Dostopa (minute)"
                             @bind-Value="@Plezalisce.CasDostopa"></InputNumber>
                <ValidationMessage For="@(()=>Plezalisce.CasDostopa)" />
            </div>
        </div>
        <div class="form-group row">
            <label for="visinaPlezalisca" class="col-sm-2 col-form-label">
                Višina plezališča:
            </label>
            <div class="col-sm-6">
                <InputNumber id="visinaPlezalisca" class="form-control" placeholder="Nadmorska višina plezališča (metri)"
                             @bind-Value="@Plezalisce.Visina"></InputNumber>
                <ValidationMessage For="@(()=>Plezalisce.Visina)" />
            </div>
        </div>
        <div class="form-group row">
            <label for="usmerjenostStene" class="col-sm-2 col-form-label">
                Usmerjenost stene:
            </label>
            <div class="col-sm-6">
                <InputSelect id="usmerjenostStene" class="form-control" @bind-Value="@Plezalisce.UsmerjenostStene">
                    @foreach (var usmeritev in Enum.GetValues(typeof(UsmerjenostStene)))
                    {
                        <option value="@usmeritev">@usmeritev</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="form-group row">
            <label for="opisDostopa" class="col-sm-2 col-form-label">
                Opis dostopa:
            </label>
            <div class="col-sm-6">
                <InputTextArea id="opisDostopa" class="form-control" placeholder="Tukaj vpišite opis dostopa" @bind-Value="@Plezalisce.OpisDostopa" />
            </div>
        </div>
        <div class="form-group row">
            <label for="slikaPlezalisca" class="col-sm-2 col-form-label">
                Slika plezališča:
            </label>
            <div class="col-sm-6">
                <input type="file" @ref="InputReference" @onchange="IzberiSliko">
                <div class="alert alert-danger @Notification" role="alert">
                    Napačen format slike!
                </div>
                <img class="img-thumbnail m-1" src="@ImageContent" />
            </div>

        </div>
        <ValidationSummary />
        <div class="col-sm-8 text-center">
            <button class="btn btn-outline-primary" type="submit">Shrani</button>
            <a href="/plezalisca" class="btn btn-outline-dark">Nazaj</a>
        </div>
    </EditForm>

</div>
